@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

header {
  background: linear-gradient(45deg, #445086, #5261a2);
  color: #fff;
  font-size: 20px;
}
header a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
header a:hover {
  background-color: #6372b3;
  transition: 0.3s;
}

/*  HEADER TOP SECTION  */
.header-top {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-around;
}
.header-top nav {
  flex: 7;
  display: flex;
  justify-content: space-around;
}

.title-label {
  flex: 2;
  display: flex;
  justify-content: center;
}
.title-label span {
  font-size: 42px;
}

.lang {
  flex: 1;
  text-align: center;
}

.main {
}

.blog {
}



.github {
}

.github-icon {
  background-color: #fff;
}

/*  HEADER CONTENT SECTION  */
.header-content {
  padding: 50px 30px;
  display: flex;
  justify-content: center;
}

.intro {
  color: #ddd;
  border-right: 1px solid #fff;
  padding-right: 20px;
  flex-basis: 35%;
}

.content {
  padding-top: 80px;
}

.portfolio-title {
  text-align: center;
}

.info {
  padding-left: 30px;
  flex-basis: 35%;
}

.pagination {
  margin: auto;
  flex-wrap: wrap;
  width: 700px;
  display: flex;
}

.pagination-bar {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.arrow-left {
  position: relative;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  height: 100%;
}
.arrow-left::before {
  display: block;
  padding-left: 100%;
}

.arrow-right {

}

.project-wrapper {
  display: flex;
}
